services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"
    command: sh -c "npm i && npm run dev"

  frontend:
    build:
      context: ./frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    command: sh -c "npm i && npm run dev -- --host 0.0.0.0"
    depends_on:
      - backend
